<section class="container-fluid">
  <mat-card class="mat-elevation-z8" *ngIf="Post" #post>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ Post.title }}</h2>

        <mat-card-subtitle>
          <p  [innerHTML]="Post.intro"></p>
        </mat-card-subtitle>
      </mat-card-title>
      <mat-card-subtitle>
        <img src="{{ Post.postThumbnailURL }}" alt="Konverse" class="img-fluid object-fit-fill rounded mx-auto d-block" />
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="latoRegular m-2 p-2">
        <p>{{ Post.content }}</p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <a routerLink="/ai/blog/chat/{{ Post._id}}">
        <button mat-raised-button color="primary">
          <mat-icon class="material-symbols-outlined">chat</mat-icon>
          Chat With Post
        </button>
      </a>
    </mat-card-actions>

  </mat-card>
  <a routerLink="/posts/new" class="floating-btn">
    <button mat-fab color="accent" class="text-white mat-elevation-z8" aria-label="Add New post">
      <mat-icon class="material-symbols-outlined">add</mat-icon>
    </button>
  </a>



</section>
