<section class="container-fluid">

  <mat-card class="card mb-3 mat-elevation-z8">
    <a routerLink="/files">
      <div class="row g-0">
        <div class="col-md-4 mat-elevation-z4">
          <a routerLink="/files">
            <img src="assets/images/pexels-pixabay-265152.jpg"
              class="card-img-top object-fit-fill rounded-start mx-auto d-block img-fluid" alt="Konverse">
          </a>
        </div>
        <div class="col-md-8 mat-elevation-z4">
          <div class="card-body">
            <h1 class="card-title fs-1 text-primary">My Files</h1>
            <a routerLink="/files">
              <button mat-raised-button class="text-primary">
                <mat-icon class="material-symbols-outlined">folder</mat-icon>
                <h5 class="fs-5 text-primary">Upload & View Files</h5>
              </button>
            </a>
          </div>

        </div>
      </div>
    </a>
  </mat-card>



  <mat-divider></mat-divider>


  <mat-card class="card mb-3 mat-elevation-z8">
    <a routerLink="/ai">
      <div class="row g-0">
        <div class="col-md-4 mat-elevation-z4">
          <a routerLink="/ai">
            <img src="assets/images/pexels-googledeepmind-25630342.jpg"
              class="card-img-top object-fit-fill rounded-start mx-auto d-block img-fluid" alt="Konverse">
          </a>
        </div>
        <div class="col-md-8 mat-elevation-z4">
          <div class="card-body">
            <h1 class="card-title fs-1 text-primary">Chat With Your Documents</h1>
            <a routerLink="/ai">
              <button mat-raised-button class="text-primary">
                <mat-icon class="material-symbols-outlined">chat</mat-icon>
                <h5 class="fs-5 text-primary">Chat With Your Documents</h5>
              </button>
            </a>
          </div>

        </div>
      </div>
    </a>
  </mat-card>

</section>
