<section class="container-fluid">


  <a routerLink="/files">
    <mat-card class="card text-bg-dark mat-elevation-z8">
      <img src="assets/images/pexels-pixabay-265152.jpg"
        class="card-img-top object-fit-fill rounded mx-auto d-block img-fluid" alt="Konverse">


      <mat-card-content class="card-img-overlay m-4 container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
          <div class="col">
            <h1 class="card-title fs-1 text-primary">My Files</h1>
            <a routerLink="/files">
              <button mat-raised-button class="text-primary">
                <mat-icon class="material-symbols-outlined">folder</mat-icon>
                <h5 class="fs-5 text-primary">Upload & View Files</h5>
              </button>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>

  <mat-divider></mat-divider>
  <span class="m-4 p-4"></span>
  <mat-divider></mat-divider>

  <a routerLink="/ai">
    <mat-card class="card text-bg-dark mat-elevation-z8">
      <img src="assets/images/pexels-googledeepmind-25630342.jpg"
        class="card-img-top object-fit-fill rounded mx-auto d-block img-fluid" alt="Konverse">


      <mat-card-content class="card-img-overlay m-4 container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
          <div class="col">
            <h1 class="card-title fs-1 text-primary">Chat With Your Documents</h1>
            <a routerLink="/ai">
              <button mat-raised-button class="text-primary">
                <mat-icon class="material-symbols-outlined">chat</mat-icon>
                <h5 class="fs-5 text-primary">Chat With Your Documents</h5>
              </button>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
</section>
