<nav class="mat-elevation-z8 mb-1">
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row color="primary" class="bg-whiter d-flex flex-end" style="justify-content: flex-end !important;">
      <button mat-button [matMenuTriggerFor]="menu" class="bg-whiter text-primary" id="apps">
        <mat-icon class="material-symbols-outlined">apps</mat-icon>
        <h2 class="pr-2 text-primary">Konverse AI</h2>
      </button>

      <mat-menu #menu="matMenu">
        <a routerLink="/home">
          <button mat-menu-item>
            <mat-icon class="material-symbols-outlined">home</mat-icon>
            <h3 class="text-primary">Konverse</h3>
            <small>Knowledge Hub</small>
          </button>
        </a>
        <mat-divider></mat-divider>

        <a routerLink="/blog/my-posts">
          <button mat-menu-item>
            <mat-icon class="material-symbols-outlined">dynamic_feed</mat-icon>
            <h3 class="text-primary">My Posts</h3>
          </button>
        </a>


        <mat-divider></mat-divider>

        <h4 class="pr-3" *ngIf="accountEmail">Logged in as: <span class="text-warn">{{ accountEmail }}</span></h4>
        <h4 class="pr-3" *ngIf="!accountEmail">Not Logged in. <a routerLink="/personal/auth/signin">Login to
            Continue</a></h4>

        <mat-divider></mat-divider>
      </mat-menu>

        <a routerLink="/files" class="text-accent">
          <button mat-menu-item color="accent">
            <mat-icon class="material-symbols-icon">folder_open</mat-icon>
            <span class="text-black">My Files</span>
          </button>
        </a>

        <a routerLink="/ai" class="text-accent">
          <button mat-menu-item color="accent">
            <mat-icon class="material-symbols-icon">online_prediction</mat-icon>
            <span class="text-black">AI</span>
          </button>
        </a>

        <a routerLink="/blog" class="text-accent">
          <button mat-menu-item color="accent">
            <mat-icon class="material-symbols-icon">lightbulb_circle</mat-icon>
            <span class="text-black">Blog</span>
          </button>
        </a>

        <a routerLink="/authn" class="text-accent">
          <button mat-menu-item color="accent">
            <mat-icon class="material-symbols-icon">key</mat-icon>
            <span class="text-black">SignIn/Up</span>
          </button>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-elevation-z4 text-white display-flex mb-2 bg-accent"
      style="justify-content: flex-end !important;">
      <h3 class="fs-3 text-white">Chat With Your PDF Documents And Blog Posts with <span class="text-dark">Gemini</span></h3>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
